 @import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i');

*{
	margin: 0;
	padding: 0;
	position: relative;
	box-sizing: border-box;
	letter-spacing: .005em;
	line-height: 125%;
}
body,html{
	background:#e1e1e1;
	font-family: 'Roboto', sans-serif;
}
header{
	background: #fff;
}
header .container {
    display: flex;
    justify-content: space-between;
    align-content: flex-end;
    align-items: flex-end;
	padding: 1em 0 0;
	border-bottom: deeppink solid 8px;
}
header h1{
	color: yellow;
	background: #000;
	padding: .25em 4em .25em 2em;
	left: -3rem;
	letter-spacing: .02em;
}
nav a, nav input[type="button"], label, button {
    display: inline-block;
    padding: .5em 1em;
    background: none;
    border: none;
	border-top: 5px solid transparent;
    font-size: 1em;
    text-decoration: none;
    font-weight: bold;
    color: #1b47f4;
}
nav a:hover, nav input[type="button"]:hover, button:hover {
    border-top: 5px dotted #1b47f4;
    background: yellow;
}
input[type="text"] {
    padding: .5em .75em;
    background: #f1f1f1;
	color: #1b47f4;
    border: none;
    width: 220px;
    top: -.5em;
}
input[type="text"]:focus {
    background: #000;
    color: yellow;
}
#searchType {
    display: inline-block;
    border: none;
	left: .5em;
}
#searchType label {
    display: block;
    font-size: .75em;
    color: deepskyblue;
    font-weight: bold;
	padding: .2em 1em;
	margin-top: -.5em;
}
label::before {
    background: #f1f1f1;
    width: 8px;
    height: 8px;
    content: '';
    display: block;
    position: absolute;
    top: 7px;
    border-radius: 50%;
    left: -2px;
    border: 1px solid rgba(0,0,0,.05);
}
[type="radio"]:checked + label::before {
    background: yellow;
    content: '✓';
    color: deeppink;
    line-height: 60%;
}
input[type="radio"] {
	opacity: 0;
    display: inline-block;
    position: absolute;
    left: -3px;
    margin-top: 5px;
    z-index: 3;
}
div.content-wrap {
	margin-top: 1em;
	background:#fff;
	display: flex;
	border-left: 0.45em solid yellow;
	border-right: .45em solid yellow;
}
.container{
	padding:2em;
	margin:0 auto;
}
.byline .date{display: none;}
@media screen and (min-width:769px){
	.container{width: 660px;}
}
@media screen and (min-width:1025px){
	.container{width:800px}
	.byline .date{display: inline-block;}
}
@media screen and (min-width:1201px){
	.container{width:1000px}
}
@media screen and (min-width:1201px){
	.container{width:1200px;}
}
.content {
  width: 66.6%;
  padding-right: 2em;
}
.content h2, .content h3, .content h4 {
    margin-top: 2em;
    margin-bottom: .25em;
}
h1 + h2, h2 + h3, h3 + h4 {
    margin-top: 0 !important;
}
.content p {
    line-height: 133%;
    letter-spacing: .01em;
    margin: 0 0 1em 0;
    hyphens: none;
}
.content a:hover {
    background: #000;
    color: yellow;
}
pre {
    white-space: pre-line;
    padding: 1.5em;
    background: #f1f1f1;
    margin: 1.5em 3em;
}
.sidebar {
  width: 33.3%;
}
.content-wrap a,
.byline a {
    color: tomato;
	transition: .25s ease-in;
}
.imageItem {
    border-top: .32em solid deepskyblue;
    padding: 1em 0 0;
}
.imageItem:last-of-type{
	border-bottom: .32em solid deepskyblue;
}
.imageItem > a {
  display: block;
  float: left;
  margin:0.2em 1em 1em 0;
  max-width: 27%;
  z-index: 1;
}
.imageItem img {
    border: 5px solid #000;
	background: #000;
	max-width: 100%;
	height: auto;
}
.imageItem > a::after {
    background-image: repeating-linear-gradient(45deg, transparent, transparent 4px, rgba(0,0,0,1) 4px, rgba(0,0,0,1) 6px);
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    padding: .1em .25em;
}
.imageItem > a:hover::before {
    content: '';
    background: deeppink;
	display: block;
	padding: .2em .3em;
	position: absolute;
	z-index: -1;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	bottom: -.3em;
	right: -.3em;
}
.details {
  float: left;
  word-wrap: break-word;
  max-width: calc( 66.6% - 1em);
}
.details a:hover{
	color: #fff;
	z-index: 1;
	display: inline-block;
}
a.headline {
	display: inline-block;
	max-height: 44px;
	overflow: hidden;
	color:#000;
	transition: none;
}
.headline h1 {
    display: block;
    max-width: 100%;
    word-break: break-all;
	line-height: 110%;
}
.headline:hover {
	background: #000;
    outline: 3px solid #000;
    box-shadow: 40px 0 0 3px #000, -7px 0 0 3px #000;
}
.byline {
    font-size: .8em;
    font-style: italic;
    color: #aeaeae;
    font-weight: bold;
}
.byline a{
	color:tomato;
	font-size: 1.2em;
	font-style: normal;
}
.byline a:hover::before{
	content: '';
	width: 100%;
	height: 100%;
	background: #000;
	padding: .25em 1.4em;
	position: absolute;
	top: -.15em;
	left: -.6em;
	z-index: -1;
}
.imageItem::after {
  content: '';
  display: table;
  clear: both;
}
.resultNav {
    float: right;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
}
#currentPage {
    font-weight: bold;
    color: #bfc9d0;
    font-style: italic;
}
footer .container {
    padding: .75em 0 .25em;
    padding-bottom: 1em;
    text-align: right;
    font-style: italic;
    color: #809190;
}
